################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio
.vs/
*.user
*.suo
*.csproj.user
*.vscode/
bin/
obj/
cd .jfm